.how {
  position: relative;
}

.bg_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.bg_container div {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.how_container {
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  height: 100vh;
  width: 100%;
  color: #000;
}

.how_left,
.how_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.how_left {
  flex-basis: 48%;
  padding-left: 8%;
  padding-right: 6%;
}

.how_left h3 {
  font-size: 44px;
  font-weight: 500;
}

.how_left h1 {
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
}

.how_left p {
  text-align: justify;
  margin-top: 3%;
  font-size: 20px;
}

.how_right {
  flex-basis: 48%;
  padding-right: 5%;
  padding-left: 2%;
}

.amr_name {
  text-align: center;
  line-height: 2;
  margin-bottom: 5%;
  font-size: 20px;
  font-weight: 600;
}

.amr_container {
  position: relative;
  height: calc(80% * 0.42);
  width: 80%;
  transition: all 0.3s ease-in-out;
}

.amr_container:hover {
  transform: scale(1.1);
}
