.hero {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 70% 1fr;
  grid-template-columns: 60% 1fr;
  position: relative;
  /* scroll-snap-align: start; */
}

.vision_div {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 3;
}

.vision_div div {
  position: relative;
  width: calc(1.4 * 80px);
  height: 80px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.vision_div div:hover {
  transform: scale(1.1);
}

.hero_left {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hero_left div {
  position: relative;
  width: 70%;
  height: 60%;
  margin-top: 25%;
}

.hero_right {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.hero_right h1 {
  color: #676767;
  font-size: 34px;
  font-weight: 300;
  padding-right: 25px;
}

.hero_bottom {
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  background: #000;
  height: 1px;
  width: 202px;
  margin-top: 20px;
}
