.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding-left: 2%;
  padding-right: 5%;
  background: transparent;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_logo {
  width: 150px;
  height: 60px;
  position: relative;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.nav_logo.show_logo {
  opacity: 1;
}

.navbar div {
  display: inline-flex;
}

.navbar div a {
  padding: 40px 0 20px;
  margin: 0 15px 20px 15px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.navbar div a:hover {
  transform: translateY(-5px);
  color: var(--ars-secondary-color);
}
